<div *ngIf="running; else getLoginData">
  <mat-spinner></mat-spinner>
</div>

<ng-template #getLoginData>
<form (submit)="login()" #loginForm="ngForm">

  <h1 mat-dialog-title>Login</h1>

  <div mat-dialog-content>
    <p>
      <mat-form-field>
        <mat-label>Usuário</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="username"
          required
          name="username"
          id="username">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input
          type="password"
          matInput
          [(ngModel)]="password"
          name="password"
          id="password">
      </mat-form-field>
    </p>
  </div>

  <div mat-dialog-actions>
    <div class="filler"></div>
    <button
        class="login"
        type="submit"
        mat-button
        [disabled]="!loginForm.form.valid">
      Entrar
    </button>
  </div>
</form>
</ng-template>
